extends ../auth.layout.pug

block content
  .wrapper
    .card      
      .card__container
        img.card__container-logo(src="./assets/images/avatar.png")
        span.card__container-author Владимир Астахов
        span.card__container-desc Личный сайт веб разработчика
      

  //- .personal-card
  //-   img.personal-card-logo(src="./img", alt="")
  //-   .card__name Борис Дрябин
  //-   .card_title Личный сайт веб разработчика
  //-   ul.social__list
  //-       li.social__item
