extends ../main.layout.pug


block content 
    .welcome__wrapper 
        header.header
            button.btn__authorize Авторизоваться
        .welcome__card
            .welcome__img
                img(src="", alt="" class="welcome__logo")
            .welcome__text
                p.welcome__author Прохладов Вадик
                p.welcome__desc Личный чот там 
                ul.welcome__social 
                    li.welcome__item
                        a(href="")
            
            

        footer.welcome__footer
            p С любовью и старанием 
    //- +icon('check', 'hello-world__block')
