extends ../main.layout.pug


block content 
    .welcome__wrapper 
        header.header
            button.btn__authorize Авторизоваться
        .welcome__about
            p AAAA

        footer.welcome__footer
    //- +icon('check', 'hello-world__block')
