.map{
    background: url("../images/map.bg.png") center center /cover no-repeat;
    height: 100%;
}

// .map__data{
//     position: absolute;
//     top:50%;
//     left: 50%;
//     background: rgba(244, 245, 240, .85);
//     width: 380px;
//     height: 309px;
// }

.skill__figure{
    height: 100px;
    width: 100px;
}