.welcome__wrapper {
    background: url("/assets/images/bg.png") center center /cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.welcome__card {
    width: 380px;
    height: 395px;
    background-color: rgba(18, 38, 32, 0.6);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__logo {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    align-self: center;
}

.welcome__text {
    color: #fff;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome__author {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
}

.welcome__desc {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.8;
}

.welcome__social {
    display: flex;
    color: #fff;
    font-family: Roboto;
    align-items: center;
    justify-content: center;
}

.welcome__link {
    display: flex;
    align-items: flex-end;
}

.welcome__social-svg {
    fill: #8a9592;
    height: 31px;
    width: 40px;
    &:hover {
        fill: #4e8839;
    }
}

// .card__container-author
// {
//     margin-top: 20px;
//     color: #ffffff;
//     font-family: Roboto;
//     font-size: 28px;
//     font-weight: 500;
//     line-height: 34px;
// }
// .card__text_container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }
// .card__container-desc{
//     margin-top: 20px;
//     opacity: .8;
//     color: #ffffff;
//     font-family: Roboto;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 24px;
// }
// .social__container{
//     margin-top: 40px;
// }
// .social__list{
//     display: flex;
// }
// .social__item{
//     margin-right: 20px;
// }
// .social__nav-link{
//     color:#fff;
//     text-decoration: none;
// }
// .btn__container{
//     margin-top: 41px;
//     height: 1%;
// }
// .btn__list{
//     display: flex;
//     justify-content: space-between;
// }
// .btn__item{
//     background: #6c9c5a;
//     cursor: pointer;
//     margin-top: 12px;
//     width: 34%;
//     display: flex;
//     justify-content: center;
//     border-right: rgba(222, 227, 231, .5) 1px solid;
//     &:hover{
//         background: #4e8839;
//     }
//     &:last-child{
//         border-right: 0px;
//     }    
// }
// .btn__item-last{
//     border-right: 0px;
// }
// .btn__nav-link{
//     color: #ffffff;
//     font-family: Roboto;
//     font-size: 16px;
//     font-weight: 500;    
//     text-decoration: none;
//     height: 48px;
//     display: flex;
//     align-items: center;
// }
// .footer{
//     color: #fff;
//     font-family: Roboto;
//     font-size: 16px;
//     font-weight: 400;
//     display: flex;
//     text-align: center;
//     justify-content: center;
// }