// .card{
//     background: url("../images/bg.png") center center /cover no-repeat;
//     height: 100%;
// }
.card__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
}

.card__container {
    width: 380px;
    height: 395px;
    background-color: rgba(18, 38, 32, 0.6);
    // opacity: 0.6;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn__container {
    margin-top: 41px;
    height: 1%;
}

.btn__list {
    display: flex;
    justify-content: space-between;
}

.btn__list-full-width{
    width: 112%;
}

.btn__item {
    background: #6c9c5a;
    cursor: pointer;
    margin-top: 12px;
    width: 34%;
    display: flex;
    justify-content: center;
    border-right: rgba(222, 227, 231, .5) 1px solid;
    &:hover {
        background: #4e8839;
    }
    &:last-child {
        border-right: 0px;
    }
}

.btn__item-last {
    border-right: 0px;
}

.btn__item-width{
    width: 50%;
}


.btn__nav-link {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    height: 48px;
    display: flex;
    align-items: center;
}

.footer {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
}